# Flutter / Dart
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/build/
app/.packages
app/*.iml
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/Flutter.framework
app/ios/Flutter/Flutter.podspec
app/ios/Flutter/ephemeral/
app/android/.gradle/
app/android/local.properties
app/android/app/google-services.json
app/ios/Runner/GoogleService-Info.plist
app/lib/firebase_options.dart
app/android/key.properties
app/android/app/src/main/res/values/strings.xml.local

# Firebase functions
firebase/functions/node_modules/
firebase/functions/lib/

# OS
.DS_Store
